<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detecção de Doenças em Melancias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Detecção de Doenças em Folhas de Melancia</h1>

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Enviar Imagem</button>
    </form>

    {% if filename %}
    <h2>Resultado da Detecção:</h2>
    <img src="{{ url_for('static', filename=filename) }}" alt="Resultado">
    {% endif %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
